<h1><%= t(:hello) %></h1>

<p class="bodytext">
    This is an example blog application for demonstrating Rails Cells.
</p>
<p class="bodytext">
    <i>Hey, you guys kept asking us for examples. Here they are, for your convenience.</i>
</p>
<p class="bodytext">
  Click on the "Display Cells" check box, to make it easier for you to see how cells integrate into the page.  It's <FONT COLOR="#FF0000">M</FONT><FONT COLOR="#FF5100">a</FONT><FONT COLOR="#FFA200">g</FONT><FONT COLOR="#FFF300">i</FONT><FONT COLOR="#FFff00">c</FONT><FONT COLOR="#AEff00">a</FONT><FONT COLOR="#5Dff00">l</FONT><FONT COLOR="#0Cff00">l</FONT><FONT COLOR="#00ff00">y</FONT><FONT COLOR="#00ff51"> </FONT><FONT COLOR="#00ffA2">D</FONT><FONT COLOR="#00ffF3">e</FONT><FONT COLOR="#00ffff">l</FONT><FONT COLOR="#00F3ff">i</FONT><FONT COLOR="#00A2ff">c</FONT><FONT COLOR="#0051ff">i</FONT><FONT COLOR="#0000ff">o</FONT><FONT COLOR="#0C00ff">u</FONT><FONT COLOR="#5D00ff">s</FONT>!
</p>




<%= render_cell :post, :front_teaser %>

Click <%= link_to "here", :action => :all %> to see all posts.

<%= render_cell :post, :count_posts %>


<%= render_cell :post, :list_categories %>

<%= render_cell :newsletter, :form %>

<% content_for :video_menu do %>
  <%= render_cell :video, :recent, :header => 'Recent videos' %>
<% end %>

<hr>
<%= render_cell :debug, :show_cache_time %>
