<h1><%= t(:hello) %></h1>

<p class="bodytext">
    This is an example blog application for demonstrating Rails Cells.
</p>
<p class="bodytext">
    <i>Hey, you guys kept asking us for examples. Here they are, for your convenience.</i>
</p>


<%= render_cell :post, :front_teaser %>

Click <%= link_to "here", :action => :all %> to see all posts.

<%= render_cell :post, :count_posts %>


<%= render_cell :post, :list_categories %>

<%= render_cell :newsletter, :form %>

<% content_for :video_menu do %>
  <%= render_cell :video, :recent, :header => 'Recent videos' %>
<% end %>

<hr>
<%= render_cell :debug, :show_cache_time %>
