<html>
<head>
  <title>Nick's great blog!</title></head>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
<body>

<div id="body">
    <div style="clear: left; padding-top: 54;">
      <div class="box" style="width: 200px;">
        <ul id="menu">
            <li<%=' class="selected"' if controller.controller_name == 'blog' && controller.action_name == 'index' -%>>
                <a href="/" onfocus="blurLink(this);">Home</a>
            </li>
            <li>
                <a href="http://github.com/apotonick/cells_examples/tree/master" onfocus="blurLink(this);">Source Code</a>
            </li>
            <li>
                <a href="http://github.com/apotonick/cells/tree/master" onfocus="blurLink(this);">Cells Source</a>
            </li>
        </ul>
      </div>
    </div>
      
    <div class="box" id="blogBody">
      <%= yield %>
    </div>
    
    <div id="right_menu">
      <%= yield :video_menu %>
    </div>
</div>

</body>
</html>

